html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
.mainDiv {
  width: 100%;
  height: 100%;
}

.desktopContainer {
	width: 100%;
	height: 100%;
}
.desktop {
  width: 94%;
  height: 80%;
  margin: 2%;
	margin-bottom: 0;
  border: 2px solid blue;
	background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapers.com%2Fimages%2Fhd%2Foperating-system-linux-mint-20-default-v8tc8pbevmmyxtib.jpg&f=1&nofb=1&ipt=2b15201cc6fdcbd1732bee47dea596a3a8e69461e805586345d9f7c067b1d7e6');
}

.menuBar {
	background-color: grey;
	margin: 2%;
	margin-top: 0;
	border: 2px solid blue;
	width: 94%
}

.appWindow {
  position: absolute;
  user-select: none;
  border: 2px solid black;
  width: 35%;
  height: 55%;
  background-color: white;
}

.dragbar {
  width: 100%;
  display: flex;
  background-color: gray;
  cursor: move;
}

.windowContent {
  border: 2px solid black;
	flex: 1;
	height: 96%;
}

.windowContent object {
	height: 100%;
	width: 100%;
}

.newWindow {
  position: relative;
  z-index: 999;
}

.minimize {
  margin-left: auto;
}
