html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
.mainDiv {
  width: 100%;
  height: 100%;
}

.desktop {
  width: 94%;
  height: 80%;
  margin: 2%;
  border: 2px solid black;
}

.appWindow {
  position: absolute;
  user-select: none;
  border: 2px solid black;
  width: 35%;
  height: 55%;
  background-color: white;
}

.dragbar {
  width: 100%;
  display: flex;
  background-color: gray;
  cursor: move;
}

.windowContent {
  border: 2px solid black;
	flex: 1;
	height: 96%;
}

.windowContent object {
	height: 100%;
	width: 100%;
}

.newWindow {
  position: relative;
  z-index: 999;
}

.minimize {
  margin-left: auto;
}
